# Alternative GitLab CI/CD using Docker deployment
# To use this file, rename it to .gitlab-ci.yml

stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  IMAGE_TAG_LATEST: $CI_REGISTRY_IMAGE:latest

# Build Docker image with the site
build_docker:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $IMAGE_TAG -t $IMAGE_TAG_LATEST .
    - docker push $IMAGE_TAG
    - docker push $IMAGE_TAG_LATEST
  only:
    - master
    - main

# Deploy to HK server via SSH + Docker using keychain authentication
deploy_docker:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    # Setup SSH key from GitLab CI/CD variables (SSH keychain)
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $SERVER_HOST >> ~/.ssh/known_hosts
  script:
    # Copy docker-compose file to server
    - scp docker-compose.yml $SERVER_USER@$SERVER_HOST:$DEPLOY_PATH/
    # SSH into server and deploy
    - |
      ssh $SERVER_USER@$SERVER_HOST << EOF
        cd $DEPLOY_PATH
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
        docker pull $IMAGE_TAG_LATEST
        docker-compose down
        docker-compose up -d
        docker image prune -f
      EOF
  dependencies:
    - build_docker
  only:
    - master
    - main
  environment:
    name: production
    url: http://your-server-ip:8111
