# Note: squidfunk/mkdocs-material base image already includes:
# - mkdocs
# - mkdocs-material
# - mkdocs-material-extensions
# - pymdown-extensions
# Only install additional plugins below

# Required Plugins
mkdocs-glightbox
mkdocs-rss-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-changelog-plugin
mkdocs-heti-plugin
mkdocs-statistics-plugin
